<!-- register.html -->
{% extends "base.html" %}

{% block content %}
<div class="register-container">
    <div class="form-container">
        <div class="image-container">
            <img src="static/images/register_image.png" alt="Registration Image">
        </div>
        <div class="form">
            <h1>Регистрация</h1>
            <form action="/register" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                <label for="name">Имя</label>
                <input type="text" id="name" name="name" required>

                <label for="phone">Телефон</label>
                <input type="tel" id="phone" name="phone" required>

                <label for="password">Пароль</label>
                <input type="password" id="password" name="password" required>

                <label for="confirm-password">Подтвердите пароль</label>
                <input type="password" id="confirm-password" name="confirm-password" required>

                <button type="submit">Зарегистрироваться</button>
            </form>
            <div class="login-link">
                <p>Уже есть аккаунт? <a href="#">Войти</a></p>
            </div>
            <p class="terms">Регистрируясь, вы принимаете <a href="#">Условия использования</a> и <a href="#">Политику конфиденциальности</a></p>
        </div>
    </div>
</div>
{% endblock %}
